<div class="container">
  <div class="row">
    <div class="col-sm-6 center-block">
      <form ng-submit="loginFormSubmit( user )">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Logowanie</h3>
          </div>

          <div class="panel-body">
            <div class="alert alert-danger" ng-if="errors.login">{{errors.login}}</div>

            <div class="from-group" ng-class="{ 'has-error' : errors.login }">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="twój adres e-mail" ng-model="user.email"  />
              <span class="text-danger">{{errors}}</span>
            </div>

            <br/>

            <div class="from-group">
              <label>Hasło</label>
              <input type="password" class="form-control" placeholder="twoje hasło" ng-model="user.password" />
            </div>

            <br/>

            <button type="submit" class="btn btn-primary btn-block">Zaloguj się</button>
          </div>
        </div>
      </form>  
    </div>
  </div>
</div>
