<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="szukaj..." ng-model="search" />
    </div>
    
    <div class="col-xs-6">
      <a href="#/product/add" class="btn btn-success pull-right">Dodaj produkt</a>
    </div>
  </div>

  <br/>

  <div ng-controller="products">
    <div class="alert alert-info" ng-repeat="product in products | filter : search">
      <span class="text-capitalize">{{ product.name }}</span><br/>
      waga: {{ product.weight }} kg<br/>
      {{ product.description }}<br/>
      {{ product.cena | number:2 }}zł / kg<br/>
      <a href="#/product/edit/{{$index}}" class="btn btn-default">Edytuj</a>
     </div>
  </div>
</div>  