<form ng-submit="addUser( user )">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 center-block">
        


        <div class="form-group" ng-class="{ 'has-error' : errors.name }">
          <label>Imię</label>
          <input type="text" class="form-control" ng-model="user.name" />
          <span class="text-danger">{{ errors.name }}</span>
        </div> 

        <div class="form-group" ng-class="{ 'has-error' : errors.email }">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="user.email" />
          <span class="text-danger">{{ errors.email }}</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : errors.password }">
          <label>Hasło</label>
          <input type="password" class="form-control" ng-model="user.password" />
          <span class="text-danger">{{ errors.password }}</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : errors.passconf }">
          <label>Powtórz hasło</label>
          <input type="password" class="form-control" ng-model="user.passconf" />
          <span class="text-danger">{{ errors.passconf }}</span>
        </div>   

        <div class="form-group">
          <label>Rola</label>
          <select class="form-control" ng-model="user.role" ng-class="{ 'has-error' : errors.role }">
          	<option value="user">użytkownik</option>
          	<option value="admin">administrator</option>
          </select>
          <span class="text-danger">{{ errors.role }}</span>
        </div> 
        <input type="submit" value="dodaj użytkownika" class="btn btn-primary" ng-if="!success" />
        <input type="button" value="dodano użytkownika" class="btn btn-success" ng-if="success" />
        <a href="#/admin/users" class="btn btn-default">wróć</a>
      </div>
    </div>
  </div>
</form>